Test/UnitTests/Resources/testSchemas.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema
  targetNamespace="test"
	xmlns="test"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="simpleType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:complexType name="complexType">
  </xs:complexType>

  <xs:element name="root" type="complexType"/>
  
</xs:schema>
