Framework/Atf.Gui/Applications/WebServices/Web References/com.scea.ship.versionCheck/VersionChecker.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:tns1="http://faults.webservices.portal.ship.scea.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://scea.com/tnt/versioncheck" xmlns:intf="http://scea.com/tnt/versioncheck" targetNamespace="http://scea.com/tnt/versioncheck" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://faults.webservices.portal.ship.scea.com">
      <xsd:import namespace="http://scea.com/tnt/versioncheck" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="TNTWebServiceFault" abstract="true">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:complexType name="ObjectNotFoundFault">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:TNTWebServiceFault">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="PermissionFault">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:TNTWebServiceFault">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LoginFailedFault">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:TNTWebServiceFault">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GeneralSystemFault">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:TNTWebServiceFault">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://scea.com/tnt/versioncheck">
      <xsd:import namespace="http://faults.webservices.portal.ship.scea.com" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOf_xsd_anyType">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:anyType[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getHomePageResponse">
    <wsdl:part name="getHomePageReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getMappingPropertiesResponse">
    <wsdl:part name="getMappingPropertiesReturn" type="intf:ArrayOf_xsd_anyType" />
  </wsdl:message>
  <wsdl:message name="getPackageIdResponse">
    <wsdl:part name="getPackageIdReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="GeneralSystemFault">
    <wsdl:part name="fault" type="tns1:GeneralSystemFault" />
  </wsdl:message>
  <wsdl:message name="getHomePageRequest">
    <wsdl:part name="shortcutName" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getPackageIdRequest">
    <wsdl:part name="shortcutName" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getLatestVersionInfoResponse">
    <wsdl:part name="getLatestVersionInfoReturn" type="intf:ArrayOf_xsd_anyType" />
  </wsdl:message>
  <wsdl:message name="getLatestVersionInfoRequest">
    <wsdl:part name="shortcutName" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="PermissionFault">
    <wsdl:part name="fault" type="tns1:PermissionFault" />
  </wsdl:message>
  <wsdl:message name="ObjectNotFoundFault">
    <wsdl:part name="fault" type="tns1:ObjectNotFoundFault" />
  </wsdl:message>
  <wsdl:message name="getMappingPropertiesRequest">
    <wsdl:part name="shortcutName" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="LoginFailedFault">
    <wsdl:part name="fault" type="tns1:LoginFailedFault" />
  </wsdl:message>
  <wsdl:portType name="VersionChecker">
    <wsdl:operation name="getPackageId" parameterOrder="shortcutName">
      <wsdl:input name="getPackageIdRequest" message="intf:getPackageIdRequest" />
      <wsdl:output name="getPackageIdResponse" message="intf:getPackageIdResponse" />
      <wsdl:fault name="ObjectNotFoundFault" message="intf:ObjectNotFoundFault" />
    </wsdl:operation>
    <wsdl:operation name="getHomePage" parameterOrder="shortcutName">
      <wsdl:input name="getHomePageRequest" message="intf:getHomePageRequest" />
      <wsdl:output name="getHomePageResponse" message="intf:getHomePageResponse" />
      <wsdl:fault name="ObjectNotFoundFault" message="intf:ObjectNotFoundFault" />
    </wsdl:operation>
    <wsdl:operation name="getLatestVersionInfo" parameterOrder="shortcutName">
      <wsdl:input name="getLatestVersionInfoRequest" message="intf:getLatestVersionInfoRequest" />
      <wsdl:output name="getLatestVersionInfoResponse" message="intf:getLatestVersionInfoResponse" />
      <wsdl:fault name="GeneralSystemFault" message="intf:GeneralSystemFault" />
      <wsdl:fault name="PermissionFault" message="intf:PermissionFault" />
      <wsdl:fault name="ObjectNotFoundFault" message="intf:ObjectNotFoundFault" />
      <wsdl:fault name="LoginFailedFault" message="intf:LoginFailedFault" />
    </wsdl:operation>
    <wsdl:operation name="getMappingProperties" parameterOrder="shortcutName">
      <wsdl:input name="getMappingPropertiesRequest" message="intf:getMappingPropertiesRequest" />
      <wsdl:output name="getMappingPropertiesResponse" message="intf:getMappingPropertiesResponse" />
      <wsdl:fault name="ObjectNotFoundFault" message="intf:ObjectNotFoundFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VersionCheckerSoapBinding" type="intf:VersionChecker">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getPackageId">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getPackageIdRequest">
        <wsdlsoap:body use="encoded" namespace="http://scea.com/tnt/versioncheck" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getPackageIdResponse">
        <wsdlsoap:body use="encoded" namespace="http://scea.com/tnt/versioncheck" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundFault">
        <wsdlsoap:fault use="encoded" name="ObjectNotFoundFault" namespace="http://scea.com/tnt/versioncheck" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getHomePage">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getHomePageRequest">
        <wsdlsoap:body use="encoded" namespace="http://scea.com/tnt/versioncheck" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getHomePageResponse">
        <wsdlsoap:body use="encoded" namespace="http://scea.com/tnt/versioncheck" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundFault">
        <wsdlsoap:fault use="encoded" name="ObjectNotFoundFault" namespace="http://scea.com/tnt/versioncheck" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLatestVersionInfo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getLatestVersionInfoRequest">
        <wsdlsoap:body use="encoded" namespace="http://scea.com/tnt/versioncheck" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getLatestVersionInfoResponse">
        <wsdlsoap:body use="encoded" namespace="http://scea.com/tnt/versioncheck" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="GeneralSystemFault">
        <wsdlsoap:fault use="encoded" name="GeneralSystemFault" namespace="http://scea.com/tnt/versioncheck" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
      <wsdl:fault name="PermissionFault">
        <wsdlsoap:fault use="encoded" name="PermissionFault" namespace="http://scea.com/tnt/versioncheck" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundFault">
        <wsdlsoap:fault use="encoded" name="ObjectNotFoundFault" namespace="http://scea.com/tnt/versioncheck" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
      <wsdl:fault name="LoginFailedFault">
        <wsdlsoap:fault use="encoded" name="LoginFailedFault" namespace="http://scea.com/tnt/versioncheck" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMappingProperties">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getMappingPropertiesRequest">
        <wsdlsoap:body use="encoded" namespace="http://scea.com/tnt/versioncheck" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getMappingPropertiesResponse">
        <wsdlsoap:body use="encoded" namespace="http://scea.com/tnt/versioncheck" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="ObjectNotFoundFault">
        <wsdlsoap:fault use="encoded" name="ObjectNotFoundFault" namespace="http://scea.com/tnt/versioncheck" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VersionCheckerService">
    <wsdl:port name="VersionChecker" binding="intf:VersionCheckerSoapBinding">
      <wsdlsoap:address location="http://www.ship.scea.com/portal/services/VersionChecker" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>